## data handling

In [1]:
import pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
##fname = ['Rasika','Vivek','Anuradha','Amber','Subhash','Prathibha','Dhanashree','Sudip','Ayushman','Adyasha','mikan','Unmesh','Prachee','Harsh']
#lname = ['Bhuyar','Oberio','Deshmukh','Patil','Agrawal','Das','Barik','Johar','Behera','Panda','Swain','Sahoo','Panighrahi','Tiwary']
#account =['849848385866','161086058719','969367391834','171103900608','544720841846','806176213883','375559157866','532336598882','35076326404','922000492442','58164199639','414710756448','536857457055','620183685288']

In [ ]:
#size = int(input('Enter size of array: '))
##fname = [str(input('Enter name: ')) for _ in range(size)]
##lname =[str(input('Enter last name:'))for _ in range(size)]
##account =[random.randint(0,999999999999) for _ in range(size)]
##pd.concat([df, df3], ignore_index=True)
##df.to_csv('sample.csv')
##df=pd.read_csv('sample.csv')
##df['balance']= [int(input('enter the balance:')) for _ in range(0,20)]
##import random
##account=[random.randint(0,999999999999) for _ in range(size)]
##df6 = pd.DataFrame(df6)
##df6
##df6['phone_no.'] =[random.randint(0,9999999999) for _ in range(size)]

In [5]:
df =pd.read_csv('sample.csv')

In [116]:
df7['pin_no:'] = [int(input('enter the pin:')) for _ in range(0,20)]

enter the pin:1214
enter the pin:1223
enter the pin:1657
enter the pin:1238
enter the pin:5676
enter the pin:5653
enter the pin:1122
enter the pin:8978
enter the pin:0727
enter the pin:3555
enter the pin:1267
enter the pin:7889
enter the pin:1718
enter the pin:2325
enter the pin:4909
enter the pin:3434
enter the pin:4557
enter the pin:1211
enter the pin:3377
enter the pin:1990

In [6]:
df

,Unnamed: 0,Acc_no,Branch_no,First_name,Last_name,phone_no,pin_no,balance
0,0,460876316298,1,ayushman,behera,2181898116,1214,2000
1,1,851065689913,4,adyasha,panda,5637877821,1245,3700
2,2,744100205390,1,mikan,swain,9976441173,1657,5990
3,3,956387009787,4,unmesh,sahoo,70356289,1238,6000
4,4,847606298010,2,prachee,panigrahi,6360589443,5676,7000
5,5,991708781693,4,rasika,bhuyar,3732758977,5653,10000
6,6,713996818954,3,amber,bhuyar,6715561016,1978,50
7,7,686668779503,3,anu,bhuyar,7829354214,8978,4566
8,8,192296422973,8,vivek,bhuyar,6687690519,727,46000
9,9,369021282401,7,harsh,tiwary,7594131617,3555,2000
10,10,84374911210,3,sheezol,mohanty,7656280543,1267,1414
11,11,630809503717,4,rituraj,samantray,3942217020,1223,100000
12,12,63087231307,5,apoorva,pattnaik,5441867963,1718,192990
13,13,490059189224,4,sweta,sathpathy,7068820397,2325,4777
14,14,218147524433,7,stitha,pati,7261749520,4909,23466
15,15,538158457750,3,tiya,singh,2333324748,3434,80000
16,16,365201327165,2,swagatika,swain,9978047733,4557,12333
17,17,88576569732,2,sudhanshu,swain,6214780060,1211,7879
18,18,455499399326,2,utkarsha,maharana,1749512967,3377,1000
19,19,111100017516,2,shivansh,maharana,5603510098,1990,19700

In [7]:
del df['Unnamed: 0']

In [8]:
len (df)

20

In [9]:
name=[]
acco=[]
pin=[]
name=df.First_name.str.lower()
acco=df.Acc_no
pin=df.pin_no
#print(name)
#print(acco)
#print(pin)

#Recursive function to input the username and to check if the entry is present in the dataset or not.

def na():
    c=0
    nam=input("Enter your Name :")
    nam=nam.lower()
    f=False
    for i in range(0,len(name)):    
        if nam== name.iloc[i]:
            c=i
            f=True
            break
    if f:
        print("\033[1m  NAME VALIDATED\n" + "\033[0m")
        return c
    else:
        print("\033[1m  INVALID USERNAME\n" + "\033[0m")
        na()

c=na()
print(c)

In [10]:
df

          Acc_no  Branch_no First_name  Last_name    phone_no  pin_no  balance
0   460876316298          1   ayushman     behera  2181898116    1214     2000
1   851065689913          4    adyasha      panda  5637877821    1245     3700
2   744100205390          1      mikan      swain  9976441173    1657     5990
3   956387009787          4     unmesh      sahoo    70356289    1238     6000
4   847606298010          2    prachee  panigrahi  6360589443    5676     7000
5   991708781693          4     rasika     bhuyar  3732758977    5653    10000
6   713996818954          3      amber     bhuyar  6715561016    1978       50
7   686668779503          3        anu     bhuyar  7829354214    8978     4566
8   192296422973          8      vivek     bhuyar  6687690519     727    46000
9   369021282401          7      harsh     tiwary  7594131617    3555     2000
10   84374911210          3    sheezol    mohanty  7656280543    1267     1414
11  630809503717          4    rituraj  samantray  3942217020    1223   100000
12   63087231307          5    apoorva   pattnaik  5441867963    1718   192990
13  490059189224          4      sweta  sathpathy  7068820397    2325     4777
14  218147524433          7     stitha       pati  7261749520    4909    23466
15  538158457750          3       tiya      singh  2333324748    3434    80000
16  365201327165          2  swagatika      swain  9978047733    4557    12333
17   88576569732          2  sudhanshu      swain  6214780060    1211     7879
18  455499399326          2   utkarsha   maharana  1749512967    3377     1000
19  111100017516          2   shivansh   maharana  5603510098    1990    19700

In [12]:
##p1=c

In [ ]:
def pn():
    cou=0
    p=int(input("Enter your Pin Number :"))
    f=False
    for i in range(0,len(pin)):    
        if p==pin.iloc[i]:
            cou=i
            f=True
            break
    if f:
        print("\033[1m  Pin NUMBER VALIDATED\n" + "\033[0m")
        return cou
    else:
        print("\033[1m  INVALID Pin NUMBER\n" + "\033[0m")
        pn()
cou=pn()
print(cou)
p=(cou)

In [43]:
import datetime
now=datetime.datetime.now()

In [44]:
def op():
    ch=int(input("\033[1m transaction:" +"\033[1m"))
    if ch==1:
        print("\n"+"\033[0;30mx"*127)
        print("\033[1mBalance : " +"\033[1m", df.iloc[p]['balance'])
        amount = int(input("Enter your amount to proceed:"))
        if amount < (df.iloc[p]['balance']):
            print("Collect your cash!")
            df.loc[p,'balance'] = df.loc[p,'balance']-amount
            df.to_csv("sample.csv")
            print("Your current balance is:")
            print("Balance : " , df.iloc[p]['balance'])
            print("\033[1mThanks for using SBI BANK" +"\033[1m")
        else:
            print("\033[1mNo sufficient balance...Operation Failed" +"\033[1m")
        print("\n"+"\033[0;30mx"*127)
            
    if ch==2:
        print("\n"+"\033[0;30mx"*127)
        change_pin = input("\033[1mEnter new PIN here : " +"\033[1m");
        length = len(change_pin) 
        if length == 4:
            print("\033[1mYour PIN has been successfully changed..! " +"\033[1m")
            print("New PIN: "+change_pin)
            df.loc[p,'pin_no'] = change_pin
            df.to_csv("sample.csv")
            print("\033[1mThanks for using SBI BANK" +"\033[1m")
        else:
            print("\033[1mIvalid PIN to proceed....Operation Failed" +"\033[1m ")
        print("\n"+"\033[0;30mx"*127)
            
    if ch==3:
        print("\n"+"\033[0;30mx"*127)
        print("\033[1mDate and Time : " +"\033[1m " +now.strftime('%d - %m - %y %H:%M:%S'))
        print("\n"+"\033[0;30mx"*127)
        print("\033[1mPlease collect your mini statement" +"\033[1m ")
        print(df.loc[p])
        print("\033[1mThanks for using SBI BANK" +"\033[1m ")
        print("\n"+"\033[0;30mx"*127)
            
    if ch==4:
        print("\n"+"\033[0;30mx"*127)
        quit1 = input("\033[1mPress Y to quit...!" +"\033[1m ")
        if quit1 == "Y":
            print("Quit")
        else:
            print("\033[1mChoose any transaction please:"+"\033[1m ")
        print("\n"+"\033[0;30mx"*127)
        op()

In [45]:
print("\033[0;30mx"*127)
print("\033[1m \033[34m \033[4m \t\t\t\t\t\t\t SBI BANK" +"\033[1m \033[34m \033[4m")
print("\033[0;30mx"*127)
print("choose your option:")
print("1. Debit Denominaton")
print("2. Change your PIN")
print("3.Mini Statement")
print("4. Quit")
 
op()

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   							 SBI BANK
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
choose your option:
1. Debit Denominaton
2. Change your PIN
3.Mini Statement
4. Quit
 transaction:3

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Date and Time :  14 - 03 - 21 21:19:36

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Please collect your mini statement
Acc_no        851065689913
Branch_no                4
First_name         adyasha
Last_name            panda
phone_no        5637877821
pin_no                1223
balance               4000
Name: 1, dtype: object
Thanks for using SBI BANK

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [19]:
df

          Acc_no  Branch_no First_name  Last_name    phone_no  pin_no  balance
0   460876316298          1   ayushman     behera  2181898116    1214     2000
1   851065689913          4    adyasha      panda  5637877821    1223     4000
2   744100205390          1      mikan      swain  9976441173    1657     5990
3   956387009787          4     unmesh      sahoo    70356289    1238     6000
4   847606298010          2    prachee  panigrahi  6360589443    5676     7000
5   991708781693          4     rasika     bhuyar  3732758977    5653    10000
6   713996818954          3      amber     bhuyar  6715561016    1978       50
7   686668779503          3        anu     bhuyar  7829354214    8978     4566
8   192296422973          8      vivek     bhuyar  6687690519     727    46000
9   369021282401          7      harsh     tiwary  7594131617    3555     2000
10   84374911210          3    sheezol    mohanty  7656280543    1267     1414
11  630809503717          4    rituraj  samantray  3942217020    1223   100000
12   63087231307          5    apoorva   pattnaik  5441867963    1718   192990
13  490059189224          4      sweta  sathpathy  7068820397    2325     4777
14  218147524433          7     stitha       pati  7261749520    4909    23466
15  538158457750          3       tiya      singh  2333324748    3434    80000
16  365201327165          2  swagatika      swain  9978047733    4557    12333
17   88576569732          2  sudhanshu      swain  6214780060    1211     7879
18  455499399326          2   utkarsha   maharana  1749512967    3377     1000
19  111100017516          2   shivansh   maharana  5603510098    1990    19700

In [46]:
op()

 transaction:2

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Enter new PIN here : 1245
Your PIN has been successfully changed..!
New PIN: 1245
Thanks for using SBI BANK

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [47]:
op()

 transaction:3

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Date and Time :  14 - 03 - 21 21:19:36

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Please collect your mini statement
Acc_no        851065689913
Branch_no                4
First_name         adyasha
Last_name            panda
phone_no        5637877821
pin_no                1245
balance               4000
Name: 1, dtype: object
Thanks for using SBI BANK

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [48]:
df

          Acc_no  Branch_no First_name  Last_name    phone_no pin_no  balance
0   460876316298          1   ayushman     behera  2181898116   1214     2000
1   851065689913          4    adyasha      panda  5637877821   1245     4000
2   744100205390          1      mikan      swain  9976441173   1657     5990
3   956387009787          4     unmesh      sahoo    70356289   1238     6000
4   847606298010          2    prachee  panigrahi  6360589443   5676     7000
5   991708781693          4     rasika     bhuyar  3732758977   5653    10000
6   713996818954          3      amber     bhuyar  6715561016   1978       50
7   686668779503          3        anu     bhuyar  7829354214   8978     4566
8   192296422973          8      vivek     bhuyar  6687690519    727    46000
9   369021282401          7      harsh     tiwary  7594131617   3555     2000
10   84374911210          3    sheezol    mohanty  7656280543   1267     1414
11  630809503717          4    rituraj  samantray  3942217020   1223   100000
12   63087231307          5    apoorva   pattnaik  5441867963   1718   192990
13  490059189224          4      sweta  sathpathy  7068820397   2325     4777
14  218147524433          7     stitha       pati  7261749520   4909    23466
15  538158457750          3       tiya      singh  2333324748   3434    80000
16  365201327165          2  swagatika      swain  9978047733   4557    12333
17   88576569732          2  sudhanshu      swain  6214780060   1211     7879
18  455499399326          2   utkarsha   maharana  1749512967   3377     1000
19  111100017516          2   shivansh   maharana  5603510098   1990    19700

In [49]:
df

          Acc_no  Branch_no First_name  Last_name    phone_no pin_no  balance
0   460876316298          1   ayushman     behera  2181898116   1214     2000
1   851065689913          4    adyasha      panda  5637877821   1245     4000
2   744100205390          1      mikan      swain  9976441173   1657     5990
3   956387009787          4     unmesh      sahoo    70356289   1238     6000
4   847606298010          2    prachee  panigrahi  6360589443   5676     7000
5   991708781693          4     rasika     bhuyar  3732758977   5653    10000
6   713996818954          3      amber     bhuyar  6715561016   1978       50
7   686668779503          3        anu     bhuyar  7829354214   8978     4566
8   192296422973          8      vivek     bhuyar  6687690519    727    46000
9   369021282401          7      harsh     tiwary  7594131617   3555     2000
10   84374911210          3    sheezol    mohanty  7656280543   1267     1414
11  630809503717          4    rituraj  samantray  3942217020   1223   100000
12   63087231307          5    apoorva   pattnaik  5441867963   1718   192990
13  490059189224          4      sweta  sathpathy  7068820397   2325     4777
14  218147524433          7     stitha       pati  7261749520   4909    23466
15  538158457750          3       tiya      singh  2333324748   3434    80000
16  365201327165          2  swagatika      swain  9978047733   4557    12333
17   88576569732          2  sudhanshu      swain  6214780060   1211     7879
18  455499399326          2   utkarsha   maharana  1749512967   3377     1000
19  111100017516          2   shivansh   maharana  5603510098   1990    19700